$tipografia: 'Source Sans Pro', sans-serif;
$section_height: 100vh;
$h2_align: center;
$strong_title_decoration: 4px solid #404040;
$padding_title: 0.2em;
$title_color: #404040;
$image_sld: 100%;
$cuadros_tamano: 5em;

